<h1>Welcome to Blog lab!</h1>
<% @authors.each do |author| %>
<table align = "left" class="table table-striped table-hover table-condensed">
  <tbody>
  <thead></thead>
    <tr>
      <td class="col-xs-3">
         <%= link_to author.first_name + " " +author.last_name, author_path(author) %>
      </td>
    </tr>

   
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add an author", new_author_path,class: "btn btn-default btn-primary" %>
</p>
