<a href="/authors"><h1>Welcome to Blog lab!</h1> </a> 

<table align = "left" class="table table-striped table-hover table-condensed">
  <tbody>
  <thead></thead>
    <tr>

  <td  class="col-xs-4">Title: <%= @post.title %></td>
  <td  class="col-xs-4"><%= @post.category%> </td>
  </tr>

  </tbody>
  </table>
  <div class="well well-lg">Blog: <%= @post.body %></div>



<%= link_to "Edit", edit_post_path, class: "btn btn-success col-sm-2"%>
